# Python
.venv/
__pycache__/
*.pyc

# Data
data/raw/
data/processed/*.parquet
data/processed/*.pkl

# Models
models/
checkpoints/
*.pt
*.pth
*.ckpt
*.bin
*.pickle

# Experiment tracking
wandb/
mlruns/

# Neo4j
neo4j/